{
  "extends": [
    "relekang",
    "relekang/react",
    "relekang/flowtype"
  ],
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": 0,
    "arrow-parens": [2, "always"],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["**/*.tests.js"]}],
    "import/prefer-default-export": 0,
    "react/no-unused-prop-types": 0,
    "react/sort-comp": 0
  }
}
